:root {
    --gradient: linear-gradient(
      45deg,
      rgb(70, 43, 98),
      rgb(67, 43, 98),
      rgb(57, 46, 99),
      rgb(48, 47, 102),
      rgb(53, 70, 114),
      rgb(47, 83, 102),
      rgb(50, 100, 110),
      rgb(67, 137, 137),
      rgb(109, 153, 153)
    );
  }
  
  body {
    min-height: 100vh;
    color:#456e82;
    background: #ddd;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;
  }
  
  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  
  h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7em;
    margin: 15px;
    padding: 20px;
    border-bottom: 8px dotted white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 60%
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .nav-menu a {
    text-decoration: none;
    font-size: 15px;
    border-radius: 10%;
    padding: 7px;
    transform: translateY(50px);
    color: #456e82;
    background-color: rgb(229, 239, 246);
    border: 1px dotted rgb(180, 203, 217);
    opacity: 75%
  }
  
  .nav-menu a:hover {
    color: rgb(255, 255, 255);
    background-color: #456e82;
    border: 2px dotted rgb(255, 255, 255);
    transition: background-color 0.05s;
    opacity: 50%
  }
  