* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(193, 194, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7em;
    margin: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body{
    height: 100vh;
    cursor: none;
    background-color: rgb(45, 49, 72);
}


.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: white;
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, .5);
}

.cursor-dot, 
.cursor-outline {
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}